In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
* :Its ia a mathematical expresion used for multiplication
'hello':It is a string datatype which is consider as value and can assign to a variable
-87.8:It is a integer datatype which is consider as value and can assign to a variable
-:It is a mathematical expression and used for substraction of 2 numbers
/:It is a mathematical expression and used for dividing of 2 numbers
+:It is a mathematical expression and used for adding of 2 numbers
6:It is a integer datatype which is consider as value and can assign to a variable

In [ ]:
2>Difference between string and variable?
-Variable which can store data and can used in any part of programing
-string is a datatype which is more than one character and can store in a variable

In [ ]:
3. Describe three different data types?
-Python Numeric data type:The data which has numeric values it can be a float(decimal number with +ve or _ve number),
 integer(contains +ve or -ve numbers without floating or fraction) and any complex number(specified in real and complex numbers).
-String:It is a combination of unicode characters with more than one character denoted by single or double or triple quotes('',"",""" """)
-List:A list is formed by same or by different datatypes by placing them in square brackets'[]'separated by comas','

In [ ]:
4. What is an expression made up of? What do all expressions do?
-Combination of variables,operands and operator is called expresion which after being interpreted by python gives some value as result.It
is a representation of value.ex:c=a=5

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
-It is an expression statement used to update or executing a variable by assigning and return a value and results a value but statements 
are some actions or cammand and cant be done any function operations.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
output=22(As we are not assigning it to anyvariable after incrementing)

In [8]:
bacon = 22
bacon + 1
print(bacon)

22

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [10]:
'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam' * 3

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?
-In python variable need to start with any alphabet or '_' but cant be any numerals it wont take.

In [12]:
100=3

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2348370562.py, line 1)

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
-integer-int()
-floating-point number-float()
-string-str()

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten'  + 99 + ' burritos.'
-It is a combination of string and integer we cant add integer with string instead we can make int as string by adding str() or
giving quotations('')

In [13]:
'I have eaten'  + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [16]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [18]:
'I have eaten '  + str(99) + ' burritos.'

'I have eaten 99 burritos.'